
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Ankit Kumar. I am from India and currently I am working as Data Science and Business Analytics Instructor intern at Pepcoding.
            I make this web for fun and love.
         
         
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>Stay updated for further updates.</p>
        </aside>
      </div>