
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Rajat Kumar. I am from India and currently I  am living in Canada. I am an International student studying Computer Programming</p>
          <p>from Seneca College of Applied Arts and Technology. I hobbies are playing badminton and cooking new cuisines.</p>
         
         
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>Stay updated for further updates.</p>
        </aside>
      </div>