
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Welcome to CodeLight. We aim to build a tech community with our new and inovative tech blogs. Providing notes and exam Papers at single platform. Post your blogs which loved by everyone and share with your friends.
         
         
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>Stay updated for further updates.</p>
        </aside>
      </div>